body {
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
}
.city {
  color: palevioletred;
}
h2 {
  position: relative;
  left: -30px;
}

li:first-letter {
  text-transform: capitalize;
}
ul {
  list-style: none;
}
footer {
  text-align: center;
  position: relative;
  top: -180px;
}
button {
  background-color: palevioletred;
  border: 1px solid palevioletred;
  color: white;
  transition: all 200ms ease-in-out;
}
button:hover {
  background-color: white;
  color: palevioletred;
}
.date {
  font-size: 20px;
  opacity: 70%;
}
.condition {
  font-size: 20px;
  opacity: 70%;
}

.weather-app {
  max-width: 800px;
  display: block;
  margin: 200px auto;
  border: 3px solid #cec0c0;
  border-radius: 25px;
  padding: 30px 50px;
  box-shadow: 2px 2px 1px #cec0c0;
}
.weather-emoji {
  font-size: 80px;
  position: relative;
  top: 20px;
}
.search-bar {
  border-radius: 30px;
  width: 500px;
  padding: 5px 20px;
  border-color: palevioletred;
}
.search-button {
  border-radius: 30px;
  padding: 5px 20px;
}
.current-location {
  border-radius: 30px;
  padding: 5px 35px;
}
.col-4 {
  padding: 15px;
}
.col-5 {
  position: relative;
  top: 60px;
  opacity: 70%;
}
.units {
  font-size: 16px;
  position: relative;
  top: -12px;
}
.degrees {
  color: palevioletred;
  font-weight: bold;
  opacity: 100%;
}
.active {
  color: palevioletred;
  cursor: default;
  text-decoration: none;
}
.active:hover {
  text-decoration: none;
}
.weather-forecast {
  text-align: center;
}
.weather-forecast-date {
  color: palevioletred;
  opacity: 70%;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
.forecast-min-temperature {
  opacity: 60%;
}
